<div class="container">
  <div class="card mx-auto my-5" style="max-width: 700px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag "cocktail_form.jpg", alt: "Cocktails", class: 'card-img' %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Edit cocktail</h5>
          <%= simple_form_for(@cocktail) do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :photo, as: :file %>
            <%= f.submit class: "btn btn-primary" %>
          <% end %>
          <%= link_to 'Back to cocktails', cocktails_path, class: 'btn btn-dark mt-3' %>
        </div>
      </div>
    </div>
  </div>
</div>